@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}
#root {
  flex: 1;
}
body {
  margin: 0;
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  font-family: 'Roboto', sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
header,
footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  flex: 1;
}
footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
}
