@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --red: rgb(220, 20, 60);
  --green: rgb(50, 205, 50);
  --blue: rgb(0, 191, 255);
  --grey: rgb(128, 128, 128);
}
#root {
  flex: 1;
}
body {
  margin: 0;
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  font-family: 'Roboto', sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
header,
footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
}
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 80%;
  place-items: center;
}

.card {
  height: 250px;
  width: 200px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.square {
  height: 100px;
  width: 100px;
}
.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.red {
  background-color: var(--red);
}
.blue {
  background-color: var(--blue);
}
.grey {
  background-color: var(--grey);
}
.green {
  background-color: var(--green);
}
.triangle {
  height: 0;
  width: 0;
  background-color: transparent;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid;
}
.triangle.red {
  border-bottom: 100px solid var(--red);
}
.triangle.blue {
  border-bottom: 100px solid var(--blue);
}
.triangle.green {
  border-bottom: 100px solid var(--green);
}
.triangle.grey {
  border-bottom: 100px solid var(--grey);
}
